#enlace1,#enlace2,#enlace3,#enlace4,#enlace5{
    display: block;
    text-align: center;
}

#videos{
    display:grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#videos2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    justify-content: center;
}

#center{
    text-align: center;
}
