.centrado_enlaces {
  display: block;
  text-align: center;
}

#videos {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

#center {
  text-align: center;
}


@media screen and (max-width: 1224px) {
  #videos {
    grid-template-columns: auto;
  }
}
