figcaption {
    color: rgb(77, 74, 74);
    font-size: 12px;
    text-align: center;
}

figcaption a,
div a {
    text-decoration: none;
}

#titulo1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#titulo2 {
    margin-left: 35%;
}

#textoAside {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#textoAside p {
    text-align: justify;
}

#Komodo {
    height: 45%;
    width: 45%;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 5%;

}

#carrusel {
    margin-top: -40%;
    margin-right: 20%;
}

.creativeCommons {
    margin-left: 60%;
}

.ccTexto {
    font-size: 75%;
    text-align: center;
}

.ccTexto2 {
    font-size: 75%;
    text-align: center;
    margin-top: -7%;
}

.manu {
    padding-top: 7%;
}

.titulo {
    margin-top: -50%;
}

.subtitulo {
    padding-top: 10%;
}

#prueba {
    padding-right: 75%;
    list-style: none;
}

/* RESPONSIVE móvil*/

@media (max-width: 600px) {

    .sub {
        margin-top: 35%;
    }

    #carrusel {
        margin-top: 0;
        margin-left: 15%;
        margin-bottom: 0;
    }

    .container-fluid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #prueba {
        width: 25%;
    }

    #tasmaniaFoto {
        display: none;
    }

    .ccTexto {
        display: none;
    }


    .ccTexto2 {
        display: none;
    }

    #fotoCC {
        display: none;
    }
}

/* RESPONSIVE tablet*/
@media(min-width: 601px) {
    .sub {
        margin-top: 30%;
    }

    #carrusel {
        margin-top: -5%;
        margin-bottom: 10%;
    }

}

/* RESPONSIVE PC*/
@media(min-width:780px) {
    .sub {
        margin-top: 30%;
    }

    #carrusel {
        margin-top: -5%;
        padding: 0;
        margin-bottom: 0;
    }

    .ccTexto {
        margin-bottom: 2%;
    }

    #tasmaniaFoto {
        margin-top: -10%;
    }


}